## This file contains only critical configuration parameters for
## Legacy Fork. Please replace/merge this file with the stock
## Trident printer.cfg file.

#####################################################################
#   Probe
#####################################################################

[probe]
# Or [dockable_probe] if you are using kalico

x_offset: -1
y_offset: 24
z_offset: 7

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[z_tilt]

z_positions:
  -50, 14
  125, 295.5
  300, 14
